* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arcadia',sans-serif;
  letter-spacing: 2px;
  font-weight: 100;
}

@font-face {
  font-family: 'Arcadia';
  src: url('./Arcadia-SVG.ttf') format('truetype'); /* adjust path and format */
}

body {
  background: #111;
}